@page "/"

<AuthorizeView>
    <Authorized>
        <h3>Hello, @context.User.Identity.Name welcome back</h3>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome to Blazor Battles</h1>
        <Login />
    </NotAuthorized>
</AuthorizeView>
