@inject IBananaService BananaService

<button @onclick="IncreaseBananasCount" class="btn btn-primary">+</button>

@code {

    public void IncreaseBananasCount()
    {
        BananaService.AddBananas(10);
    }

}